/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap') */

footer {


    line-height: 1.5px;
    font-family: 'Poppins', sans sarif;
  }
  
  header {
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 75px;
    height: 100px;
  
  
    /* text-align: center;
          background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
          color: white; */
  }
  
  p {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    line-height: 1.5;
  
  }
  
  #heading1 {
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  
  .field {
    margin: auto;
    width: 60%;
    align-items: baseline;
  }
  
  .category {
    margin: 10px;
  }
  
  h3 {
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    color: white;
    text-align: left;
    font-weight: 900;
    font-size: 20px;
    height: 50px;
    display: flex;
  
    align-items: center;
  }
  
  
  .navbar ul {
    list-style-type: none;
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  
  }
  
  .navbar a {
    color: white;
    text-align: none;
    padding: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
  
  }
  
  .navbar a:hover {
    background: linear-gradient(165.23deg, #473584 10.43%, #041e73 68.35%);
  
  }
  
  .navbar li {
    float: left;
  
  }
  
  .footer {
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    padding: 70px 0;
  }
  
  .footer-col {
    width: 20%;
    padding: 0 15px;
    display: inline-block;
  
  }
  
  .container {
    max-width: 1170px;
  
    margin: auto;
  
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
  
  
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  
  
  
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  
  }
  
  .footer-col ul li a:hover {
    color: white;
    padding-left: 10px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
  
    transition: all 0.5s ease;
  
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: white;
  
  }
  
  .article {
    position: fixed;
    top: 500px;
    left: 10px;
    width: 17%;
    /* height: 100%; */
    background-color: #E3FEF7;
  }
  
  article a {
    text-decoration: none;
    color: #FFA732;
    font-style: italic;
  }
  
  .article a:hover {
    color: #8f0d54;
    font-style: italic;
    text-shadow: 1.5px 1.5px 2px #003C43;
  }
  
  .article a:active {
    color: white;
  }