@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap')

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#name{
    padding: 10px;
    margin-top: 5px;
}
    header{
        text-align: center;
        background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
        color: white;
    
    
    }
}
#intro{
    margin-top: 100px;
}


p{
    font-family:cursive;
    letter-spacing: 2px;
    line-height: 1.5;
    
}

.h1-banner-title{
    background-color: #02299e;
    color: white;
    padding: 14px 18px;
    margin-top: 20px;
    overflow-x: auto;
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    
    
}

table.table-bordered{
    overflow-wrap: anywhere;
}

article table{
    width: 100%;
    border: 1px solid #444;
    border-radius: 8px ;
}

ol{
    letter-spacing: 2px;
    line-height: 1.5;
}

#footer{
    background-color: #f6cefc;

}

#para{
    color: grey;
}

#div1{
    height: 50px;
    width:50px;
    font-size: larger;
}

button{
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    color: white;
    

}
h2{
    text-align: center;
    border-radius: 10px;
    width:250px;
    height: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px yellow;
    
}
h1{
    color: black;
    text-decoration:double;
    text-align: center;
    text-shadow: 2px 2px #FF0000;
    text-decoration:underline;
}
.footer{
    line-height: 1.5px;
    font-family: 'Poppins',sans sarif;
;
}
.navbar ul{
    list-style-type: none;
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}

.navbar a{
    color: white;
    text-align: none;
    padding: 15px;
    display: block;
    text-align: center;
    text-decoration: none;

}

.navbar a:hover{
    background: linear-gradient(165.23deg, #473584 10.43%, #041e73 68.35%);
    
}

.navbar li{
    float: left;

}
#sign{
    text-align: end;
}

.footer{
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    padding: 70px 0;


}

.footer-col{
    width:20%;
    padding: 0 15px;
    display: inline-block;

    
}
button{
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    color: white;
    

}

textarea#comment{
    font-family: 'Popins';
    resize: vertical;
}

.myid{
    padding: 8px 16px;
}

header{
    text-align: center;
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    color: white;



}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
background-color: red; 
height: 20px;
text-align: center;
padding-top: 12px;
align-items: center;
width:250px;

    

}

#sign{
    text-align: end;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1170px;
    
    margin: auto;

}


.footer-col h4::before{
    content: '';
    left: 0;
    bottom: -10px;
    background-color:red ;
    height: 2px;
    width: 50px;
    

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;



}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    text-decoration: none;
    padding:5px;

}

.footer-col ul li a:hover{
    color:white;
    padding-left: 10px;
    text-align: inherit;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;


    transition: all 0.5s ease;

}

.footer-col .social-links a:hover{
    background-color: white;

}

footer{
    line-height: 1.5px;
    font-family: 'Poppins',sans sarif;

}
#d{
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-bottom: #444;

}
#article a{
    text-decoration: none;
    font-style: italic;
    color:black;
    display:block
    height:50px;
    width:50px;

    border-radius: 10px;
  }
  
  #article a:hover{
    color:whitesmoke;
    font-style: italic ;
    text-shadow: 1.5px 1.5px 2px red;
  }
  
  #article a:active{
    color:black;
    
  }
 
  #article{
    height:250px;
    width:200px;
    position: fixed;
    top: 60px;
    background-color:#a7a4a4;
    text-align: center;
    border-radius: 10px;
    border-style: double;
    font-weight: 100;
  }
  #one{
    padding: 10px;
  }
  #second{
    padding: 10px;
  }
  #third{
    padding: 10px;
  }
#heading{
    font-size: larger;
    font-family:cursive;
    font-weight:500;
    text-decoration: underline;

}
#kite{
    text-align: center;
    text-decoration-line: underline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
}
#intro{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: medium;
    font-family: cursive;
}
#c{
   border-style: dashed double;
}
#y{
    border-style: dashed double;
}
